.form-reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-reset-password {
  background-color: rgb(254, 254, 254);
  height: 400px;
  width: 700px;
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translate(-50%, 50%);
  border-radius: 10px;
}
.menu-reset-password {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.511);
  padding: 10px;
  align-items: center;
  justify-content: center;
}
[class^="menu-circle-"] {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
[class^="circle-"] {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  outline: none;
  border-radius: 50%;
  background-color: rgb(255, 250, 250);
  color: black;
  font-size: 20px;

  z-index: 10;
}
[class^="circle-"] span {
  width: 150px;
}
[class^="btn-circle-"] {
  display: flex;
  justify-content: center;
}
[class^="line-link-"] {
  border-top: 1px solid;
  width: 0%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.line-link-1-active {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #ff0000, #3333ff);
  border-image-slice: 1;
  width: 100%;
}
.line-link-2-active {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #ff0000, #3333ff);
  border-image-slice: 1;
  width: 100%;
}

.verify-email,
.masage-otp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

#verify-confirm-email {
  width: 220px;
  height: 40px;
  padding: 0 5px;
  outline: none;
  font-size: 15px;

  border: none;
  background-color: white;
  border-bottom: 1px solid;
}
.btn-verify-email {
  height: 40px;
  width: 55px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
}
.verify-email-active {
  display: none;
}
.accept-recapcha {
  display: block;
}
.accept-recapcha-active {
  display: none;
}
.g-recaptcha {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

.masage-otp {
  display: none;
}
.masage-otp-active {
  display: block;
}
